<div class="sidebar">
    <div class="sidebar-header">
      <div class="profile">
        
        <h3>kontro</h3>
      </div>
      <button class="sidebar-toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="sidebar-body">
      <ul>
        <li><a class ="link" href="#"><i  class="bi bi-shop"></i>Market</a></li>
        <li><a class ="link" href="#"><i class="bi bi-car-front-fill"></i>Akaryakıt</a></li>
        <li><a class ="link" href="#"><i class="bi bi-wallet2"></i>Ödemeler</a></li>
        <li><a class ="link" href="#"><i class="bi bi-file-earmark-person-fill"></i>Personel</a></li>
        <li><a class ="link" href="#"><i class="bi bi-clipboard-data-fill"></i>Raporlar</a></li>

      </ul>
    </div>
    <div class="sidebar-footer">
      <ul>

        <li><a href="#"><i class="bi bi-gear-wide"></i>Settings</a></li>
        <li><a href="#"><i class="bi bi-door-closed-fill"></i> Logout</a></li>
      </ul>
    </div>
  </div>
